
html {
        font-size: 22px
    }

    body {
        background: #272424;

        color: rgb(247, 247, 247);
    }
    
    a{
        color: rgb(247, 247, 247);
    }
    a:visited{
        color: rgb(230, 234, 234);
    }
    a:hover, a:active{
color: #eee;
    }

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding :0.5rem;
}